<div class="render">
    <h3> {{beer.name|uppercase}}</h3>
    <h4>Style :{{beer.style}}</h4>
    <img class="beer-img" src="{{beer.image_url}}" />
    <h4>Abv : {{beer.abv}}</h4>
    <h4>Rating : {{beer.ratings}}</h4>
    <ul class="allTheComments">
        <span><strong>Comments : </strong>
        <hr>
        <li class="comments" ng-repeat="comment in beer.comment track by $index">
            {{comment.comment}}
        </li>
      </ul>



<a ng-click="toggleInput()" ng-hide="inputComment">Add a Comment</a>
<input ng-show="inputComment" ng-model="comment"  />
<h4>{{comment}}</h4>
<a ng-show="inputComment" ng-click="addComment(beer);toggleInput()" >Post the Comment</a>

<button type="button" class="btn btn-remove btn-primary" ng-click="removeBeer($index)">Remove</button>

</div>